In [1]:
import pandas as pd

df_employees = pd.read_csv ('../User_access_logs/employees.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
df_system_access = pd.read_csv ('../User_access_logs/system_access.csv')

In [2]:
df_system_access.rename(columns={'id':'employee_number'}, inplace=True)

In [3]:
df_system_access['employee_number'] = 'EMP' + df_system_access['employee_number'].astype(str).str.zfill(6)
df_system_access

    employee_number    access_level
0         EMP003045  Contract Entry
1         EMP003051  Contract Entry
2         EMP003068  Contract Entry
3         EMP003097   Account Admin
4         EMP003133  Contract Entry
..              ...             ...
833       EMP024862  Contract Entry
834       EMP024864  Contract Entry
835       EMP024885   Account Admin
836       EMP024890  Contract Entry
837       EMP024896   Account Admin

[838 rows x 2 columns]